.title-line {
  height: 2px;
  width: 50px;
  background-color: #000;
  margin: 5px 0;
}

.title-line-small {
  height: 2px;
  width: 30px;
  background-color: #000;
  margin: 3px 0;
}

.scroll-input .book-form {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 999;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
}

.scroll-input .book-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-input .book-form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-input .book-form .button button {
  background: none;
  background-color: #A2720A;
  color: white;
  font-size: 12px;
  padding: 10px 90px;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.scroll-input .book-form .button button:hover {
  opacity: .5;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

header .navbar {
  background-color: #000;
  width: 100%;
  padding: 0 50px;
}

header .navbar ul {
  height: 40px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar ul li {
  margin: 0 10px;
}

header .navbar ul li a {
  color: #eeecec;
  -webkit-transition: .2s;
  transition: .2s;
  display: block;
}

header .navbar ul li a:hover {
  text-decoration: none;
  color: #A2720A;
}

header .navbar .contact a {
  color: white;
  margin: 0 10px;
}

header .navbar .contact a:hover {
  text-decoration: none;
  color: #A2720A;
}

#content {
  background-image: url(../img/im-skyline.jpg);
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#content .container .landing-page {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content .container .landing-page h1 {
  color: white;
  margin-bottom: 20px;
}

#content .container .landing-page .book-form {
  width: 900px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#content .container .landing-page .book-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .container .landing-page .book-form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .container .landing-page .book-form .button button {
  background: none;
  background-color: #A2720A;
  color: white;
  font-size: 12px;
  padding: 10px 60px;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
}

#content .container .landing-page .book-form .button button:hover {
  opacity: .5;
}

#content .container .about {
  height: 440px;
  width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

#content .container .about .first-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#content .container .about .first-column .gold-text {
  color: #A2720A;
}

#content .container .about .first-column button {
  background: none;
  border: none;
  background-color: #A2720A;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
}

#content .container .about .second-column img {
  max-width: 500px;
}

#content .container .room h2 {
  color: white;
  text-align: center;
  padding: 20px 0;
  letter-spacing: -4px;
}

#content .container .room .row-one {
  min-height: 90px;
  width: 1100px;
}

#content .container .room .row-one .row {
  background-color: #fff;
  margin: 0 auto;
  height: 296px;
}

#content .container .room .row-one .row .col {
  padding: 0;
  text-align: center;
}

#content .container .room .row-one .row .info-image {
  background-image: url(../img/im-hotel-home-1-e1483431129295.jpg);
  background-size: cover;
  width: 275px;
}

#content .container .room .row-one .row .info-image .info-image-content {
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

#content .container .room .row-one .row .info-image-2 {
  background-image: url(../img/im-hotel-home-2-e1483433377719.jpg);
  background-size: cover;
  width: 275px;
}

#content .container .room .row-one .row .info-image-2 .info-image-2-content {
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

#content .container .room .row-two {
  width: 1100px;
  margin-top: 20px;
}

#content .container .room .row-two .row {
  background-color: #fff;
  margin: 0 auto;
  height: 296px;
}

#content .container .room .row-two .row .col {
  padding: 0;
  text-align: center;
}

#content .container .room .row-two .row .info-image-3 {
  background-image: url(../img/im-hotel-im-all-about-you-e1483433919602.jpg);
  background-size: cover;
  width: 275px;
}

#content .container .room .row-two .row .info-image-3 .info-image-3-content {
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 40px;
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

#content .container .room .row-two .row .info-image-4 {
  background-image: url(../img/im-hotel-home-4-e1483434446717.jpg);
  background-size: cover;
  width: 275px;
}

#content .container .room .row-two .row .info-image-4 .info-image-4-content {
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

#content .container .room .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .container .room .info h5 {
  font-size: 15px;
  color: #A2720A;
}

#content .container .room .info p {
  font-size: 15px;
  color: gray;
}
/*# sourceMappingURL=style.css.map */