body{
	margin: 0;
	padding: 0;
}


.calculator {
	
	height: 500px;
	width: 500px;
}


.calculator-screen{
	
}
.total-word{
	font-size:25pt;
	margin-right:10px;
}
.calulator-button {
	font-size: 40pt;
}
#button-equals{
  min-width: 140px;
}

#button-clear{
  width: 140px;
}
#button-delete{
	font-size:15pt;
}

@media (max-width: 420px) {
	.calculator{
		height: 100vh;
		width: 100%;
	}
	#button-equals{
	  min-width: 100px;
	}

	#button-clear{
	  width: 100px;
	}

}